<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
  </ion-header>
  
  <ion-content> 
  <div id="header">
  <h1>Login</h1>
  <img src = "assets/png.png">
  </div>

  <form id= "form">
    <ion-item> 
  <ion-input id= "form1" placeholder="Email"></ion-input>
</ion-item>
  <ion-item>
  <ion-input id= "form2" type="password" placeholder="password"></ion-input>
  <ion-icon name="eye" slot="end"></ion-icon>
  
  </ion-item>
  <ion-button expand = "block" shape="round"> Login </ion-button>
  </form>
  </ion-content>