<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Device Info</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-text>
       <b>Model : {{model}}</b>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
       <b>platform : {{platform}}</b>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
       <b>operatingSystem : {{operatingSystem}}</b>
      </ion-text>
    </ion-item>
    <ion-item>
      <ion-text>
       <b> osVersion : {{osVersion}}</b>
      </ion-text>
    </ion-item>
    
  </ion-list>

</ion-content>
